.tarjeta{
    border-color: black;
    border-width: 5px;
    border-style: solid;
    padding: 1em;
    margin: 1em;
    background-color: lightblue;
  }

.tarjeta:hover{
    border-color: blue;
    background-color: lightgray;
}